/* Mat Progress Bar */
/* Credit: Github Angular Material Design */
.mat-progress-bar {
  display: block;
  height: 4px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100%; }
  .mat-progress-bar .mat-progress-bar-element, .mat-progress-bar .mat-progress-bar-fill::after {
    height: 100%;
    position: absolute;
    width: 100%; }
  .mat-progress-bar .mat-progress-bar-secondary {
    display: none; }
  .mat-progress-bar .mat-progress-bar-fill {
    animation: none;
    transform-origin: top left;
    transition: transform 250ms ease; }

/*.mat-progress-bar .mat-progress-bar-element, .mat-progress-bar .mat-progress-bar-fill::after {
    height: 100%;
    position: absolute;
    width: 100%;
}*/
/*.mat-progress-bar .mat-progress-bar-secondary {
    display: none;
}

.mat-progress-bar .mat-progress-bar-fill {
    animation: none;
    transform-origin: top left;
    transition: transform 250ms ease;
}*/
.mat-progress-bar[mode=indeterminate] .mat-progress-bar-fill, .mat-progress-bar[mode=query] .mat-progress-bar-fill {
  transition: none; }

.mat-progress-bar[mode=indeterminate] .mat-progress-bar-secondary, .mat-progress-bar[mode=query] .mat-progress-bar-secondary {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: mat-progress-bar-secondary-indeterminate-translate 2s infinite linear;
  left: -54.888891%;
  display: block; }

.mat-progress-bar .mat-progress-bar-fill::after {
  animation: none;
  content: '';
  display: inline-block;
  left: 0; }

.mat-progress-bar-fill:after {
  background-color: #4c9733; }

.mat-progress-bar[mode=indeterminate] .mat-progress-bar-secondary.mat-progress-bar-fill::after, .mat-progress-bar[mode=query] .mat-progress-bar-secondary.mat-progress-bar-fill::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: mat-progress-bar-secondary-indeterminate-scale 2s infinite linear; }

.mat-progress-bar-buffer {
  background-color: rgba(76, 151, 51, 0.35); }

.mat-progress-bar .mat-progress-bar-buffer {
  transform-origin: top left;
  transition: transform 250ms ease; }

.mat-progress-bar[mode=indeterminate] .mat-progress-bar-primary, .mat-progress-bar[mode=query] .mat-progress-bar-primary {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: mat-progress-bar-primary-indeterminate-translate 2s infinite linear;
  left: -145.166611%; }

/*.mat-progress-bar .mat-progress-bar-fill::after {
            animation: none;
            content: '';
            display: inline-block;
            left: 0;
        }*/
.mat-progress-bar[mode=indeterminate] .mat-progress-bar-primary.mat-progress-bar-fill::after, .mat-progress-bar[mode=query] .mat-progress-bar-primary.mat-progress-bar-fill::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: mat-progress-bar-primary-indeterminate-scale 2s infinite linear; }

@keyframes mat-progress-bar-primary-indeterminate-translate {
  0% {
    transform: translateX(0); }
  20% {
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    transform: translateX(0); }
  59.15% {
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    transform: translateX(83.67142%); }
  100% {
    transform: translateX(200.61106%); } }

@keyframes mat-progress-bar-primary-indeterminate-scale {
  0% {
    transform: scaleX(0.08); }
  36.65% {
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    transform: scaleX(0.08); }
  69.15% {
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.66148); }
  100% {
    transform: scaleX(0.08); } }

@keyframes mat-progress-bar-secondary-indeterminate-translate {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    transform: translateX(0); }
  25% {
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    transform: translateX(37.65191%); }
  48.35% {
    animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    transform: translateX(84.38617%); }
  100% {
    transform: translateX(160.27778%); } }

@keyframes mat-progress-bar-secondary-indeterminate-scale {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40969);
    transform: scaleX(0.08); }
  19.15% {
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73371);
    transform: scaleX(0.4571); }
  44.15% {
    animation-timing-function: cubic-bezier(0.4, 0.62704, 0.6, 0.90203);
    transform: scaleX(0.72796); }
  100% {
    transform: scaleX(0.08); } }

@keyframes mat-progress-bar-background-scroll {
  to {
    transform: translateX(-8px); } }

/* Ripple */
/* Credit: Anyoune who provided a snippet */
[ripple] {
  position: relative;
  overflow: hidden; }

[ripple] span.ripple {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.65;
  background-color: #fff;
  animation: ripple 1000ms;
  /*display: inline-block;
    width: 5px;
    height: 2px;*/ }

@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2); } }

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2); } }

@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2); } }

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2); } }

/* Mat Tooltip */
/* Credit: Rahul Sagore https://medium.com/@Rahulx1/material-design-tooltip-with-css-html-1cf2cf66ccd5 */
[mat-tooltip] {
  position: relative; }
  [mat-tooltip]:before {
    content: attr(mat-tooltip);
    position: absolute;
    bottom: -55px;
    left: 50%;
    padding: 6px 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.1s ease-in-out;
    transform-origin: top;
    background: rgba(97, 97, 97, 0.9);
    color: white;
    border-radius: 4px;
    font-size: 10px;
    font-family: Roboto,sans-serif;
    /*font-weight: 400;*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 14px;
    max-width: 250px;
    z-index: 1000;
    /*white-space: nowrap;*/
    width: max-content;
    font-weight: normal; }
  [mat-tooltip]:hover:before {
    transform: translateX(-50%) scale(1); }
  [mat-tooltip].mat-tooltip--right:before {
    left: auto;
    right: -10px;
    bottom: auto;
    top: 50%;
    transform: translate(100%, -50%) scale(0);
    transform-origin: left center; }
  [mat-tooltip].mat-tooltip--right:hover:before {
    transform: translate(100%, -50%) scale(1); }
  [mat-tooltip].mat-tooltip--left:before {
    left: -15px;
    right: auto;
    bottom: auto;
    top: 50%;
    transform: translate(-100%, -50%) scale(0);
    transform-origin: right center; }
  [mat-tooltip].mat-tooltip--left:hover:before {
    transform: translate(-100%, -50%) scale(1); }
  [mat-tooltip].mat-tooltip-disabled:before {
    display: none; }

.mat-tooltip--top:before {
  top: -55px;
  bottom: auto;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center; }

/* CSS Only Ripple */
/*.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #FFF 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .6;
    transition: 0s;
}*/
/* Mat Sorting */
/* Credit: Angular Material */
.mat-sort-header-indicator {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0; }
  .mat-sort-header-indicator.desc {
    transform: translateY(10px);
    transition: all 200ms ease-in-out; }
    .mat-sort-header-indicator.desc .mat-sort-header-pointer-left {
      transform: rotate(45deg);
      transition: all 200ms ease-in-out; }
    .mat-sort-header-indicator.desc .mat-sort-header-pointer-right {
      transform: rotate(-45deg);
      transition: all 200ms ease-in-out; }
  .mat-sort-header-indicator.asc {
    transform: translateY(0);
    transition: all 200ms ease-in-out; }
    .mat-sort-header-indicator.asc .mat-sort-header-pointer-left {
      transform: rotate(-45deg);
      transition: all 200ms ease-in-out; }
    .mat-sort-header-indicator.asc .mat-sort-header-pointer-right {
      transform: rotate(45deg);
      transition: all 200ms ease-in-out; }

.mat-sort-header-stem {
  background: currentColor;
  height: 10px;
  width: 2px;
  margin: auto;
  display: flex;
  align-items: center; }

.mat-sort-header-arrow {
  color: #757575;
  height: 12px;
  width: 12px;
  min-width: 12px;
  position: relative;
  display: flex;
  opacity: 0;
  transform: translateY(25%);
  transition: all 200ms ease-in-out; }

.mat-sort-header-pointer-left, .mat-sort-header-pointer-right {
  background: currentColor;
  width: 6px;
  height: 2px;
  position: absolute;
  top: 0; }

.mat-sort-header-pointer-left {
  transform-origin: right;
  left: 0; }

.mat-sort-header-pointer-right {
  transform-origin: left;
  right: 0; }

.mat-sort-header-pointer-middle {
  margin: auto;
  height: 2px;
  width: 2px;
  background: currentColor;
  transform: rotate(45deg); }

.mat-sort-header-container {
  display: inline-flex;
  /*cursor: pointer;*/
  align-items: center; }

.mat-sort-header-arrow, [dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: 0 0 0 6px; }

th.action:hover .mat-sort-header-container .mat-sort-header-arrow {
  opacity: 0.54;
  transform: translateY(0);
  /*transition: opacity 200ms;*/ }

.mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1;
  transform: translateY(0); }
